@import url(./typography.css);

:root {
  --background-body: #DDD;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background-body);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
